{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'Usermanager_userinfomation_list' %}">UserInfomation Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>address</td><td>{{ object.address }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>email</td><td>{{ object.email }}</td></tr>
<tr><td>tel</td><td>{{ object.tel }}</td></tr>
<tr><td>ip_register</td><td>{{ object.ip_register }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit UserInfomation</a>

{% endblock %}