{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'endpoints_account_list' %}">account Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>id</td>
    <td>email</td>
    <td>created</td>
    <td>last_updated</td>
    <td>password</td>
    <td>auth_token</td>
    <td>timeline_token</td>
    <td>qrcodeurl</td>
    <td>mid</td>
    <td>Name</td>
    <td>ACTION</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.id }}</td>
    <td>{{ object.email }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.password }}</td>
    <td>{{ object.auth_token }}</td>
    <td>{{ object.timeline_token }}</td>
    <td>{{ object.qrcodeurl }}</td>
    <td>{{ object.mid }}</td>
    <td>{{ object.Name }}</td>
    <td><button name='{{ object.id }}'></button></td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'endpoints_account_create' %}">Create new account</a>
{% endblock %}